@page "/gauss"

<h1>Gaussian elimination algorithm</h1>

<br>
<form id="input_matrix" role="form">
    @for (int ii = 0; ii < mat.rows; ++ii)
    {
        var lii = ii;
        @for (int i = 0; i < mat.columns; ++i)
        {
            var li = i;
            <input type="number" size="5" minlength="1" @bind="mat.data[li + (mat.columns + 1) * lii]">
        }
        <span> = </span>
        <input type="number" size="5" minlength="1" @bind="mat.data[mat.columns + (mat.columns + 1) * lii]">
        <br>
    }
</form>
<br>
    <button class="button" type="button"><span class="oi oi-chevron-right" aria-hidden="true"></span></button>
    <button class="button" type="button"><span class="oi oi-chevron-bottom" aria-hidden="true"></span></button>

    Value: @mat.data[0]

@code {
    private Matrix mat = new Matrix(2, 2);

    @* private IEnumerable<int[]> solve()
    {
        Matrix m = Matrix.reorder(mat);

        for (int i = 1; i < m.rows - 1; ++i) // Go slowly down
        {
            //m = new Matrix(mat.rows, mat.columns);

            //for (int ii = 0; ii < i; ++ii) // Copy over processed values
                //m.row(ii, mat.row(ii));

            for (int ii = i; ii < m.rows - 1; ++ii)
            {
                float multipler = m.get(i - 1, i) / m.get(i - 1, i - 1);

                var now = m.row(i);
                now.multiply(multipler).subtract(m.row(i - 1));
            }
        }

        return null;
    } *@
}
